# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
*.env
.env

# Virtual environment
venv/
env/
ENV/
.venv/

templates/
static/
app/

# VSCode settings
.vscode/

# Jupyter/streamlit temp
.ipynb_checkpoints/
*.checkpoint
*.streamlit

# OS-specific
.DS_Store
Thumbs.db

# Node (если используешь React во frontend/)
node_modules/
build/
dist/

# Cache
*.cache
*.tmp
*.bak
